
.vs/C-Colab/v16/.suo
.vs/C-Colab/v16/Browse.VC.db
.vs/C-Colab/v16/ipch/AutoPCH/169e76d34c27f214/TTTGAME.ipch
.vs/C-Colab/v16/ipch/AutoPCH/8a3b49da636e6920/TIC TAC TOE.ipch
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
